.question-image {
    max-width: 60%; /* Asegura que la imagen no sobrepase el tamaño del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    display: block; /* Para centrar la imagen horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  